backports.cached-property==1.0.1
gitdb==4.0.7
grpcio==1.38.0
grpcio-tools==1.38.0
overrides==6.1.0
pbr==5.6.0
protobuf==3.17.2
pycodestyle==2.7.0
PyYAML==5.4.1
robotframework==4.0.3
robotframework-assertion-engine==0.0.6
robotframework-browser==5.0.1
robotframework-faker==5.0.0
robotframework-pythonlibcore==3.0.0
six==1.16.0
smmap==4.0.0
stevedore==3.3.0
toml==0.10.2
typing-extensions==3.10.0.0
typing-utils==0.1.0
wrapt==1.12.1
rpaframework==12.0.0
